// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 25px;
}

table {
  font-size: 13px;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 5px;
}

.th_title {
  table-layout: fixed;
  width: 180px;
  word-wrap: break-word;
}

.link {
  white-space: nowrap;
}

h2 {
  font-size: 20px;
}

.new-form {
  margin: 5px;
}

.new-form p {
  padding-top: 15px;
  font-size: 13px;
}

.show p {
  font-size: 13px;
  margin-left: 40px;
  line-height: 50px;
}

.edit-form p{
  padding-top: 12px;
  font-size: 13px;
}

.edit-back {
  font-size: 13px;
  line-height: 45px;
}

.show-back {
  font-size: 13px;
  line-height: 35px;
}

.flash {
  color: yellowgreen;
  font-size: 13px;
  margin: 15px 40px;
}

.error {
  width: 450px;
  height: 150px;
  text-aline: center;
  font-size: 13px;
  margin: 10px 0;
  border: red 2px solid;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-title {
  width: 447px;
  height: 30px;
  color: #fff;
  border-bottom: red 2px solid;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error ul {
  margin: auto 0;
}