// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  font-size: 25px;
}


.top {
  margin: 35px;
}

.text {
  font-size: 13px;
  margin-left: 30px;
  line-height: 50px;
}